li {
  color: rgba(51, 236, 5, 0.993);
}

li span {
  color: gold;
}

.item {
  padding: 5px 15px;
  font-size: 18px;
}

.name {
  font-weight: 600;
}

.wrap {
  display: flex;
  justify-content: space-between;
}

.button {
  margin-left: auto;
  border: none;
  border-radius: 4px;
  width: 80px;
  margin-left: 20px;
  transition: cubic-bezier(0.455, 0.03, 0.515, 0.955), 0.25s linear;
}

.button:hover {
  background-color: red;
  color: aliceblue;
  transform: scale(1.1);
  outline: none;
  cursor: pointer;
}
