.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #2a363b;
}

.activeLink {
  color: #e84a5f;
}

.button {
  margin-left: auto;
  padding: 9px;
  border: none;
  border-radius: 4px;
  width: 160px;

  background-color: transparent;
  color: gold;
  font-size: 14px;
  font-weight: 600;

  transition: cubic-bezier(0.455, 0.03, 0.515, 0.955), 0.25s linear;
}

.button:hover {
  background-color: rgb(30, 194, 30);
  color: aliceblue;
  outline: none;
  cursor: pointer;
}
